<!DOCTYPE html>
<html lang = "en" class="h-100">
<head>
<%-include("../partials/head-features.ejs")%> 
</head>

<body class="d-flex h-100 text-center text-bg-dark">

  
    <div class="cover-container d-flex w-100 h-200 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <nav class="nav nav-masthead justify-content-center float-md-center">            
            <li><a href="/" class="nav-link fw-bold py-1 px-1 link-light">Home</a></li>
            <li><a href="/features" class="nav-link fw-bold py-1 px-1 link-secondary">Features</a></li>
            <li><a href="/purchase" class="nav-link fw-bold py-1 px-1 link-light">Purchase</a></li>
            <li><a href="/discord" class="nav-link fw-bold py-1 px-1 link-light">Discord</a></li>
            <li><a href="/dashboard" class="nav-link fw-bold py-1 px-1 link-light">Dashboard</a></li>
          </nav>
      </div>
      </header>
      <div class="container py-5" >
        <main class="px-3">
          



  
<div class="container py-4" >


    <div class="row align-items-md-stretch">
        
      <div class="">
        <h3> Veso Lux Features</h3>
        <div class="d-grid gap-3">
          <div class="p-2 bg-dark">
            <div class="h-100 p-5 text-bg-dark rounded-3 border rounded-3">
              <div class="row">
                <div class="col-sm">
                Supported Game(s) :
                <br/>
                Skywars
                <br/>
                More game(s) coming soon.
                </div>
              </div>
            </div>
          </div>
          <div class="p-2 bg-dark">
            <div class="h-100 p-5 text-bg-dark rounded-3 border rounded-3">
              <div class="d-grid gap-3">
                <div class="p-2 bg-dark">
                Premium Only Features :
                Kick Veso Lux Users In Server
                <br/>
Premium Chat Features
<br/>
Only Premium Features.
<br/>
For Full List Come To Our Discord Server. 
<br/>
<a href="/discord">Click For Discord Server.</a>
                </div>
              </div>
            </div>
          </div>
         
        </div>
        </div> 
        
          </div>
          
        </div>

        </main>
      </div>
        <footer class="mt-auto text-white-50">
          <p>Veso Lux - Features</p>
        </footer>
      </div>

</body>
</html> 