<!DOCTYPE html>
<html lang = "en" class="h-100">
<head>
<%-include("../partials/head-index.ejs")%> 
</head>

<body class="d-flex h-100 text-center text-bg-dark">

  
    <div class="cover-container d-flex w-100 h-200 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <nav class="nav nav-masthead justify-content-center float-md-center">            
            <li><a href="/" class="nav-link fw-bold py-1 px-1 link-secondary">Home</a></li>
            <li><a href="/features" class="nav-link fw-bold py-1 px-1 link-light">Features</a></li>
            <li><a href="/purchase" class="nav-link fw-bold py-1 px-1 link-light">Purchase</a></li>
            <li><a href="/discord" class="nav-link fw-bold py-1 px-1 link-light">Discord</a></li>
            <li><a href="/dashboard" class="nav-link fw-bold py-1 px-1 link-light">Dashboard</a></li>
          </nav>
      </div>
      </header>
      <div class="container py-5" >
        <main class="px-3">
          



  
<div class="container py-4" >


    <div class="row align-items-md-stretch">
        
      <div class="">
        <h3> Veso Lux </h3>
        <div class="d-grid gap-3">
          <div class="p-2 bg-dark">
            <div class="h-100 p-5 text-bg-dark rounded-3 border rounded-3">
              <div class="row">
                <div class="col-sm">
                Online Players
                <br/>
                <%= datas && datas.onlineplayers || "Failed To Load"%>
                </div>
                <div class="col-sm">
                Total Players
                <br/>
                <%= datas && datas.totalplayers || "Failed To Load"%>
                </div>
                <div class="col-sm">
                 Total Users
                 <br/>
                <%= datas && datas.totalusers || "Failed To Load"%>
                </div>
              </div>
            </div>
          </div>
          <div class="p-2 bg-dark">
            <div class="h-100 p-5 text-bg-dark rounded-3 border rounded-3">
              <div class="d-grid gap-3">
                <div class="p-2 bg-dark">
                Show Cases
                <br/>
                <br/>
                <a role="button"href="#" class="h-65 d-outline-block w-100 p-2 btn btn-dark border mx-auto">Watch</a>
                </div>
                <div class="p-2 bg-dark">
                  <a role="button"href="#" class="h-65 d-outline-block w-100 p-2 btn btn-dark border mx-auto">Watch</a>
                </div>
              </div>
            </div>
          </div>
         
        </div>
        </div> 
        
          </div>
          
        </div>

        </main>
      </div>
        <footer class="mt-auto text-white-50">
          <p>Veso Lux - Index</p>
        </footer>
      </div>

</body>
</html> 